@font-face {
    font-family: 'Mario';
    src: url('fonts/SuperMario256.ttf');
    src: local('fonts/SuperMario256.ttf'),
         local('SuperMario256.ttf'),
         url('SuperMario256.ttf') format('truetype'),
}


/*body {
	background-color: #DBFCFF;
}
.headerMain {
	text-align: center;
	color: #CC4B09;
	font-family: "Mario";
	margin-top: 50px;
	margin-bottom: 50px;
}

#memory_board {
	background:#5D94FB;
	border:#999 3px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
#memory_board > div {
	background-image: url(img/mario.jpg);
	background-repeat: no-repeat;
  background-size: 100%;
	border:#999 2px ridge;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}*/

h1 {
  font-family: 'Mario';
  margin: 5%;
  text-align: center;
  font-size: 65pt;
  color: #E52929;
}
.card {
  height: 200px;
  width: 150px;
  float: left;
  margin: 15px;
  border: 5px;
  border-radius: 5px;
  background-color: #D3F6DB;

}

.card:hover {
  cursor: pointer;
}
