table {
border-collapse: separate;


}
table, tr {
  width: 190px;
  min-height: 200px;

}
table, td {
  border-style: solid;
  border-color: black;
  border-width: 2px;

}
#form {
  width: 25%;
  border: black 5px;
  text-align: left;
}
#button {
  margin-top: 5px;
}
